body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 20px 150px;
  text-align: center;
}

.Item {
  background: green;
  border: 1px solid #eee;
  padding: 10px;
}

.BigItem {
  background: red;
  border: 1px solid #eee;
  padding: 30px;
}

.HItem {
  width: 80px;
  background: lightsalmon;
  border: 1px solid #eee;
  padding: 10px;
}

.KItem {
  width: 200px;
  background: #f3f3f3;
  border: 1px solid #eee;
  padding: 10px;
  box-shadow: 0 1px 3px 0 #ccc;
  margin: 0px 10px 10px;
  display: flex;
  flex-direction: column;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(200,200,200,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(200,200,200,0.4);
}
