.App {
  padding: 150px;
  text-align: center;
}

.Item {
  background: green;
  border: 1px solid #eee;
  padding: 10px;
}

.BigItem {
  background: red;
  border: 1px solid #eee;
  padding: 30px;
}

.HItem {
  width: 80px;
  background: lightsalmon;
  border: 1px solid #eee;
  padding: 10px;
}

